:root {
  --dark: rgba(16, 16, 15, 1);
  --lemon: rgba(224, 253, 44, 1);
  --space-mono-h5-font-family: "Space Mono", Helvetica;
  --space-mono-h5-font-size: 22px;
  --space-mono-h5-font-style: normal;
  --space-mono-h5-font-weight: 700;
  --space-mono-h5-letter-spacing: 0px;
  --space-mono-h5-line-height: 160.0000023841858%;
  --space-mono-h6-font-family: "Space Mono", Helvetica;
  --space-mono-h6-font-size: 18px;
  --space-mono-h6-font-style: normal;
  --space-mono-h6-font-weight: 700;
  --space-mono-h6-letter-spacing: 0px;
  --space-mono-h6-line-height: 160.0000023841858%;
  --violetdark: rgba(112, 0, 255, 1);
  --violetlight: rgba(162, 89, 255, 1);
  --white: rgba(255, 255, 255, 1);
  --work-sans-h4-font-family: "Work Sans", Helvetica;
  --work-sans-h4-font-size: 28px; 
  --work-sans-h4-font-style: normal;
  --work-sans-h4-font-weight: 600;
  --work-sans-h4-letter-spacing: 0px;
  --work-sans-h4-line-height: 139.9999976158142%;
  --work-sans-h5-font-family: "Work Sans", Helvetica;
  --work-sans-h5-font-size: 22px;
  --work-sans-h5-font-style: normal;
  --work-sans-h5-font-weight: 600;
  --work-sans-h5-letter-spacing: 0px;
  --work-sans-h5-line-height: 139.9999976158142%;
  --work-sans-h6-font-family: "Work Sans", Helvetica;
  --work-sans-h6-font-size: 18px;
  --work-sans-h6-font-style: normal;
  --work-sans-h6-font-weight: 600;
  --work-sans-h6-letter-spacing: 0px;
  --work-sans-h6-line-height: 139.9999976158142%;
  --work-sans-h6-medium-font-family: "Work Sans", Helvetica;
  --work-sans-h6-medium-font-size: 18px;
  --work-sans-h6-medium-font-style: normal;
  --work-sans-h6-medium-font-weight: 500;
  --work-sans-h6-medium-letter-spacing: 0px;
  --work-sans-h6-medium-line-height: 139.9999976158142%;
  --work-sans-title-font-family: "Work Sans", Helvetica;
  --work-sans-title-font-size: 100px;
  --work-sans-title-font-style: normal;
  --work-sans-title-font-weight: 600;
  --work-sans-title-letter-spacing: 0px;
  --work-sans-title-line-height: 99.0000069141388%;
}
